lib/LovyanGFX
/.pio/*
/.vscode/*
lib/ESP8266Audio
lib/ArduinoJson
lib/ArduinoOTA
lib/ESP_EEPROM
lib/ESP8266SDUpdater
lib/ESPAsyncUDP
lib/Time
lib/WifiEspNow

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app
*.bin
*.hex
